@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

html, body {
    font-family: 'Avenir', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
	font-weight:300;
	color:$raft_white;
	background-color:$raft_light_gray;
}

p
{
	font-family: 'Avenir', 'Open Sans', sans-serif;
	font-size:rem-calc(14px);
	font-weight:300;
	margin-bottom: rem-calc(30px);

	strong
	{
		font-family: 'Avenir-Heavy', 'Open Sans', sans-serif;
		font-size: rem-calc(16px);
		font-weight:500;	
		letter-spacing:1.3px;
		// line-height:rem-calc(34px);

		@media #{$medium-up} {
			font-weight:400;
			font-size: rem-calc(18px);
		}
	}

	small
	{
		font-family: 'Avenir-Heavy', 'Open Sans', sans-serif;
		font-size:rem-calc(12px);
		font-weight:500;
		letter-spacing:1.2px;

		@media #{$medium-up} {
			font-size:rem-calc(14px);
		}

		a
		{
			font-style: normal;
			text-decoration: underline;
		}
	}
}

h1
{
	font-family: 'Avenir-Light', 'Open Sans', sans-serif;
	font-weight:300;
	color:$raft_white;

	font-size:rem-calc(30px);
	margin-bottom:rem-calc(20px);

	text-align: center;

	strong
	{
		font-family: 'Avenir-Heavy', 'Open Sans', sans-serif;
		font-weight:500;
	}

	@media #{$medium-up} {
		text-align: center;
		font-size:rem-calc(40px);
		margin-bottom:rem-calc(20px);
	}

	@media #{$large-up} {
		text-align: left;
		font-size:rem-calc(48px);
		margin-bottom:rem-calc(20px);
	}


	// margin-top:rem-calc(20px);

	// @media #{$medium-up} {
	// 	font-size:rem-calc(45px);
	// 	line-height:rem-calc(60px);
	// 	padding-bottom:rem-calc(20px);
	// }

	// @media #{$large-up} {
	// 	font-size:rem-calc(60px);
	// 	line-height:rem-calc(70px);
	// 	padding-bottom:rem-calc(40px);
	// }
}

h2
{
	color:$raft_white;
	font-family: 'Avenir-Heavy', 'Open Sans', sans-serif;
	font-weight:300;
	margin-bottom:rem-calc(20px);
	margin-top:rem-calc(10px);
	font-size:rem-calc(32px);
	letter-spacing:1.2px;

	@media #{$medium-up} {
		font-size:rem-calc(40px);
		margin-bottom:rem-calc(30px);
	}
}

h3
{
	color:$raft_white;
	font-family: 'Avenir-Light', 'Open Sans', sans-serif;
	font-weight:300;
	text-align: center;
	margin-bottom:rem-calc(30px);
	font-size:rem-calc(22px);
	letter-spacing:0.4px;

	@media #{$medium-up} {
		text-align: center;
		font-size:rem-calc(24px);
		margin-bottom:rem-calc(30px);
	}

	@media #{$large-up} {
		text-align: left;
		font-size:rem-calc(26px);
	}
}

#header
{
	background-color:$raft_white;
	font-weight:300;
	width:100%;
	color:$raft_light_gray;
}

#header_menu
{
	display: hidden;
	margin-bottom:rem-calc(10px);

	@media #{$medium-up} {
		display: block;
	}

	@media #{$medium-up} {
		display: block;
	}
}

#menu_logo
{
	float:left;
	padding-top:rem-calc(30px);
	padding-bottom:rem-calc(10px);

	background-repeat:no-repeat;

	width:100px;
	height:89px;
	
	margin:0 auto;

	background:url('../assets/images/raft_text_small.png');
	background-size:100px 89px;
}

.menu_btn
{
	float:right;
	padding-top:rem-calc(10px);
	padding-bottom:rem-calc(10px);
	padding-left:rem-calc(20px);
	cursor:pointer;
	font-size: rem-calc(18px);
	font-weight:400;
	letter-spacing: 0.3px;

	&:hover
	{
		text-decoration: underline;
	}

	// @media #{$medium-up} {
	// 	padding-top:rem-calc(20px);
	// 	padding-bottom:rem-calc(20px);
	// 	padding-left:rem-calc(20px);
	// }
}

#appstore
{
	display: hidden;

	cursor: pointer;

	margin-left: auto;
	margin-right: auto;

	background-repeat:no-repeat;

	width:220px;
	height:69px;

	background:url('../assets/images/appstore_badge.svg');
	background-size:220px 69px;

	margin-bottom: rem-calc(30px);

	@media #{$medium-up} {
		margin-left: auto;
		margin-right: auto;
	}

	@media #{$large-up} {
		float: left;
	}
}

#wrapper
{
	color:$raft_white;
	background-color: $raftUser;
}

/* SECTIONS */

#info
{
	padding-top:rem-calc(30px);
	padding-bottom:rem-calc(0px);

	background-color:$raft_white;
	background-color:transparent;
	background: url(../assets/images/raft_beach_blurred.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#device_container
{
	text-align: center;

	@media #{$medium-up} {
		text-align: center;
	}

	@media #{$large-up} {
		text-align: right;
	}
}

#device
{
	margin-left: auto;
	margin-right: auto;
	margin-top: rem-calc(20px);
	width:280px;
	height:420px;
	overflow:hidden;
	display:block;

	@media #{$medium-up} {
		float: clear;
		margin-left: auto;
		margin-right: auto;
		width:420px;
		height: 620px;
	}

	@media #{$large-up} {
		float: right;	
		width:420px;
		height: 620px;

	}
}

#logo
{
	background-repeat:no-repeat;

	width:193px;
	height:146px;
	
// width: 200px;
// height: 200px;

	margin:0 auto;

	background:url('../assets/images/center_logo@2x.png');
	background-size:193px 146px;

	// background-size: 200px 200px;

	margin-top:rem-calc(30px);
	margin-bottom:rem-calc(20px);

	@media #{$medium-up} {
		margin-bottom:rem-calc(30px);
		margin-top:rem-calc(60px);
	}
	@media #{$large-up} {
		margin-bottom:rem-calc(70px);
		margin-top:rem-calc(40px);
	}
}

// .collage
// {
// 	background-repeat:no-repeat;

// 	width:250px;
// 	height:250px;
	
// 	margin:0 auto;

// 	background:url('../assets/images/raft_web_logo.png');
// 	background-size:250px 250px;
// }

// .text_logo
// {
// 	background-repeat:no-repeat;
// 	margin:0 auto;

// 	width:200px;
// 	height:166px;

// 	background:url('../assets/images/text_logo_small.png');
// 	background-size:200px 166px;

// 	@media #{$medium-up} {
// 		width:250px;
// 		height:207px;

// 		background:url('../assets/images/text_logo_big_r.png');
// 		background-size:250px 207px;
// 	}

// 	@media #{$large-up} {

// 	}
// }

#demo
{
	background-color: $raftPartner;
	height: 500px;
}

#signup
{
	// height: 400px;
	background-color: $raftFriends;
	padding-top:rem-calc(30px);
	text-align: center;

	@media #{$medium-up} {
		padding-top:rem-calc(50px);
		// height: 500px;
	}
}

#mc_embed_signup{
	background-color: transparent;
	clear:left; 
	// font:14px Helvetica,Arial,sans-serif; 
}

#mce-EMAIL
{
	-webkit-appearance: none;
	outline: none;

	font-family: 'Avenir-Book', 'Open Sans', sans-serif;
	font-size:rem-calc(22px);
	font-weight:300;

	border:none;
	border-radius:6px;
	box-shadow:none;
	
	padding: rem-calc(20px);
	height: rem-calc(60px);

	margin-bottom: rem-calc(40px);

	@media #{$medium-up} {

	}
}

input.button
{
	margin: 0 auto;
	cursor: pointer;

	font-family: 'Avenir-Heavy', 'Open Sans', sans-serif;
	font-size:rem-calc(24px);
	font-weight:600;

	-webkit-transition: all 0.20s ease-in-out;
	-moz-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;

	border:2px solid #FFFFFF;
	border-radius:6px;
	box-shadow:0;

	background-color:transparent;
	color:#FFFFFF;
	padding: 10px;
	letter-spacing:1.2px;

	padding-left: rem-calc(60px);
	padding-right: rem-calc(60px);

	//width: rem-calc(200px);

	&:hover
	{
		background-color:#FFFFFF;
		color: $raftFriends;
	}

	@media #{$medium-up} {
		font-size:rem-calc(24px);
	}

	@media #{$large-up} {
		font-size:rem-calc(24px);
	}
}

// #signup_btn
// {
// 	margin: 0 auto;
// 	cursor: pointer;

// 	font-family: 'Open Sans', sans-serif;
// 	font-size:rem-calc(24px);
// 	font-weight:500;

// 	-webkit-transition: all 0.20s ease-in-out;
// 	-moz-transition: all 0.20s ease-in-out;
// 	-ms-transition: all 0.20s ease-in-out;
// 	-o-transition: all 0.20s ease-in-out;

// 	border:2px solid #FFFFFF;
// 	border-radius:6px;
// 	box-shadow:0;

// 	background-color:transparent;
// 	color:#FFFFFF;
// 	width: 40%;
// 	padding: 10px;
// 	letter-spacing:1.2px;

// 	&:hover
// 	{
// 		background-color:#FFFFFF;
// 		color: $raftFriends;
// 	}
// }

#signup_form
{
	webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

	overflow: hidden;
	// height: 140px;
}

.center
{
	text-align:center;
}

.section
{
	width:100%;
	padding-top: rem-calc(30px);
	padding-bottom: rem-calc(30px);

	@media #{$medium-up} {
		padding-top: rem-calc(50px);
		padding-bottom: rem-calc(50px);
	}
}

#footer
{
	color: $raftUserDark;
	background-color:$raftUser;

	padding-top: rem-calc(50px);
	padding-bottom: rem-calc(20px);

	@media #{$medium-up} {
		padding-top: rem-calc(70px);
		padding-bottom: rem-calc(40px);
	}

	@media #{$large-up} {
		padding-top: rem-calc(70px);
		padding-bottom: rem-calc(40px);
	}


	#footer_menu
	{
		margin:0 auto;
		text-align:center;
	}

	.footer_btn
	{
		display: inline-block;
		cursor:pointer;
	}

	#fb_button
	{
		margin-right: 30px;

		background-repeat:no-repeat;

		width:43px;
		height:44px;
		
		background:url('../assets/images/buttons/fb@2x.png');
		background-size:43px 44px;

		&:hover
		{
			background:url('../assets/images/buttons/fb_highlighted@2x.png');
			background-size:43px 44px;
		}
	}
	
	#twitter_button
	{
		margin-right: 30px;

		background-repeat:no-repeat;

		width:46px;
		height:38px;
		
		background:url('../assets/images/buttons/twitter@2x.png');
		background-size:46px 38px;

		&:hover
		{
			background:url('../assets/images/buttons/twitter_highlighted@2x.png');
			background-size:46px 38px;
		}
	}
	
	#insta_button
	{
		// margin-right: 30px

		background-repeat:no-repeat;

		width:43px;
		height:44px;
		
		background:url('../assets/images/buttons/instagram@2x.png');
		background-size:43px 44px;

		&:hover
		{
			background:url('../assets/images/buttons/instagram_highlighted@2x.png');
			background-size:43px 44px;
		}
	}
	
	#blog_button
	{
		background-repeat:no-repeat;

		width:28px;
		height:47px;
		
		background:url('../assets/images/buttons/blog@2x.png');
		background-size:28px 47px;

		&:hover
		{
			background-repeat:no-repeat;

			background:url('../assets/images/buttons/blog_highlighted@2x.png');
			background-size:28px 47px;
		}
	}

	a
	{
		color: $raftUserDark;
		text-decoration: underline;

		&:active
		{
			color: $raftUserDark;
		}

		&:hover
		{
			color:#FFFFFF;
		}
	}
}